In [9]:
#Q1
n=int(input('enter the value for n: '))
for x in range(1,n+1):
    print(x)

enter the value for n: 5
1
2
3
4
5

In [2]:
#Q2
n=int(input('enter the value for n: '))
total=0
for x in range(0,n+1):
    total+=x
    
print(total)

enter the value for n: 5
15

In [3]:
#Q3
n=int(input('enter the value for n: '))
c=1
x=n
while c<=n:
    print(x)
    x-=1
    c+=1

enter the value for n: 5
5
4
3
2
1

In [4]:
#Q4
n=int(input('enter the number whose factorial to be found: '))
fact=1
while (n>1):
    fact=fact*n
    n=n-1
print('the factorial is: ',fact)

enter the number whose factorial to be found: 5
the factorial is:  120

In [5]:
#Q5
n=int(input('enter the numbers: '))
f0=0
f1=1
print(f0)
print(f1)
for i in range(0,n-2):
    f2=f0+f1;
    f0=f1
    f1=f2
    print(f2)

enter the numbers: 5
0
1
1
2
3

In [6]:
#Q6
n=int(input('enter the number: '))
while (n>0):
    m=n
    m=m%10
    n=n//10
    print(m)

enter the number: 45
5
4

In [8]:
#Q7
n=int(input('enter the number: '))
sum=0
while (n>0):
    m=n
    m=m%10
    n=n//10
    sum+=m
    
print(sum)

enter the number: 56
11

In [17]:
#Q8
n=int(input('enter the value for n: '))
sum=0
for x in range(1,n+1):
    fact=1
    for i in range(1,x+1):
        fact=fact*i
    sum+=fact
print(sum)

enter the value for n: 5
153

In [19]:
#Q9
b=int(input('enter the  base: '))
e=int(input('enter the exponent: '))
s=1
for i in range(1,e+1):
    s*=b
print(s)

enter the  base: 2
enter the exponent: 4
16

In [81]:
#Q10
n=int(input('enter the value for n: '))
for i in range(0,n+1):
    print('*'*i)

print()
for i in range(n,0,-1):
    print('*'*i)
    
print()
m=n+1
for i in range(n,0,-1):
    j=m-n
    print(' '*(i-1),'*'*(j))
    m+=1
    
print()

for i in range(0,n+1):
    for j in range(0,i):
        print('*',end=' ')
    print()

enter the value for n: 5

*
**
***
****
*****

*****
****
***
**
*

     *
    **
   ***
  ****
 *****


*
* *
* * *
* * * *
* * * * *

In [39]:
#Q10
n=int(input('enter the value for n: '))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end=' ')
    print(' ')
    
print()
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end=' ')
    print(' ')
    
print()
k=n
for i in range(1,n+1):
    for j in range(1,i+1):
        print(k,end=' ')
        
    k-=1
    print(' ')

    
print()
      
k = 2*n - 2
for i in range(0, n): 
    for j in range(0, k): 
        print(end=" ") 
    k = k - 1
    for j in range(0, i+1): 
        print(i+1, end="") 
            
    print( )
  
    
print()

for i in range(0,n+1):
    for j in range(0,i):
        print('*',end=' ')
    print()

enter the value for n: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

        1
       22
      333
     4444
    55555


*
* *
* * *
* * * *
* * * * *

##### for num in range(6):

In [18]:
for i in range(0, n): 
      
        for j in range(0, k): 
            print(end=" ") 
       
        k = k - 1
      
        for j in range(0, i+1): 
          
            print(j+1, end="") 
       
        print("\r")

1
12
123
1234
12345

In [37]:
      
    k = 2*n - 2
    for i in range(0, n): 
        for j in range(0, k): 
            print(end=" ") 
        k = k - 1
        for j in range(0, i+1): 
            print(i+1, end="") 
            
        print( )

        1
       22
      333
     4444
    55555