### Q1
s[-1]=d
s[::-1]=detneirO tcejbO si nohtyP
s[:-1]=Python is Object Oriente
s[1:1]=
s[4:10]=on is

### Q2

In [13]:
s=''
print(s[0])

IndexError: string index out of range

### Q3
 error:- String index out of range

### Q4

In [33]:
#a)
s='a b cd'
print(len(s))
print(s[::2])
print(len(s[::2]))
print()
#b)
s='a#b#c#d#'
print(s.split())
print(s.split('#'))
l=s.split('#')
s='$'.join(l)
print(s)
print()
#c)
S='Gaurav'
S=S[::-2][::-2]
print(S)
print()
#d)
print(1>2)
print()
#e)
print(4%2,5%2,2%5,sep=',')
print()
#f)
s='abcba'
s.upper()
print(s)
print(s.count('A'), end = ' ,')
print(s.count('A', 2,4) , end = ' ,')
print(s.count('a', 2,4) , end = ' ,')
print()

6
abc
3

['a#b#c#d#']
['a', 'b', 'c', 'd', '']
a$b$c$d$

av

False

0,1,2

abcba
0 ,0 ,0 ,

### Q5

In [35]:
s=input(' enter the string: ')
s1=s.replace(' ','')
print(s1)

 enter the string: noel soares
noelsoares

### Q6
[]= list

### Q7

In [37]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

### Q8

In [71]:
type(dir(str))

list

In [63]:
# Q9
print('*****\n  *\n  *\n  *\n  *\n')
print('*\t*\n* * * * *\n*   *   *\n*\t*\n')
h = '__________\n |\t  |\n o\t  |\n/|\\\t  |\n/ \\\t  |\n__________|'
print(h)

*****
  *
  *
  *
  *

*	*
* * * * *
*   *   *
*	*

__________
 |	  |
 o	  |
/|\	  |
/ \	  |
__________|

In [64]:
s=input(' enter the string: ')
s1=s.replace(' ','\n')
print(s1)

 enter the string: this the the time to tap
this
the
the
time
to
tap

In [69]:
#Q11
name1=input('enter your name: ')
name2=name1.split()
print(name2[0].upper(),len(name2[0]))
print(name2[1].upper(),len(name2[1]))

enter your name: noel soares
NOEL 4
SOARES 6

In [13]:
s= input('Enter the string value to be split: ')
if len(s)%2==0:
    s1=s[:len(s)//2]
    s2 = s[len(s)//2:]
    print(s1,s2)
else:
    s1=s[:len(s)//2]
    s2 = s[((len(s)//2)+1):]
    print(s1,s2)

Enter the string value to be split: afsaan
afs an