In [1]:
#Q1
t=(1,2,3,4,5)
s=list(t)
print(s)

[1, 2, 3, 4, 5]

In [10]:
#Q2
L=[1,3,5,7]
T=(8,6,4,2)
print(L)
LS=L
LS.extend(T)
print(LS)

[1, 3, 5, 7]
[1, 3, 5, 7, 8, 6, 4, 2]

### Q3 
LIST:
it is mutable and is representation by []

TUPLE:
it is immutable is represented by ()

In [13]:
# Q4
l=['a','b','c','A','C']
print(l)
l.reverse()
print(l)

['a', 'b', 'c', 'A', 'C']
['C', 'A', 'c', 'b', 'a']

In [15]:
#Q5
l=[10,11,20,21,30,31,40,41]
print(l[1::2])

[11, 21, 31, 41]

In [20]:
#Q6
l=[1,2,3,4]
l1=l.copy()
print(l1)
l2=l[:]
print(l2)
l3=list(l)
print(l3)
l4=l
print(l4)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 2, 3, 4]

In [23]:
#Q7
n_list=["Happy",[2,0,1,5]]
print(n_list[0][1])
print(n_list[1][3])

a
5

In [24]:
#Q8
odd=[2,4,6,8]
odd[0]=1
print(odd)
odd[1:4]=[3,5,7]
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [27]:
#Q9
odd=[1,3,5]
odd.append([7,9])
print(odd)
odd.extend([11,13])
print(odd)

[1, 3, 5, [7, 9]]
[1, 3, 5, [7, 9], 11, 13]

In [28]:
#Q10
x=1,2,3;print(type(x))
x=(1);print(type(x))
x=1 ;print(type(x))
x=1, ;print(type(x))

<class 'tuple'>
<class 'int'>
<class 'int'>
<class 'tuple'>

In [5]:
#Q11
a=[[1,2,3],[4,5,6],[7,8,9]]
l=a[0]
for i in range(len(a)):
    for j in range(len(a[0])):
        print(a[i][j],end=' ')
    print()

1 2 3
4 5 6
7 8 9

In [36]:
#Q12
t=tuple('string')
print(t)
print(t[::-1])
print(t[::2][::-2])

('s', 't', 'r', 'i', 'n', 'g')
('g', 'n', 'i', 'r', 't', 's')
('n', 's')

In [38]:
#Q13
t=tuple([10,20,30,40,50,60])
print(60 in t)
print('60' in t)
print(t.count(10))
print(t.count(40))

True
False
1
1

In [49]:
#Q14
s=input('enter the string: ')
s1=s[::-1]
if s==s1:
    print('palindrome')
else:
    print('not palindrome')

enter the string: malayalam
palindrome

In [53]:
#Q15
r=range(20,0,-5)
print(list(r))

[20, 15, 10, 5]

In [56]:
#Q16
s=input('enter the string: ')
a=list(s)
print(a)

enter the string: soares
['s', 'o', 'a', 'r', 'e', 's']

In [60]:
#Q17
print(type('1 2'.split()))
print(type([1, 3, 2].sort()))
print(type('abc'.upper()))
print(type(1 in [1, 2]))

<class 'list'>
<class 'NoneType'>
<class 'str'>
<class 'bool'>